html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}
/* hides screen during initialization */
.curtain {
    visibility: hidden;
}

.moduleContainer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}